<ul class="list-unstyled">
    @foreach (var product in products)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@product.ImageUrl" alt="@product.Titel" />
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@product.Titel</h4>
                </a>
                <p>@product.Description</p>
                <h5>@product.Price تومان</h5>
            </div>
        </li>
    }
</ul>

@code {
    private static List<product> products = new List<product>
    {
        new product
        {
            id = 1,
            Titel = "User:Gigibram",
            Description = "also fixed cy and hy // Editing SVG source code using c:User:Rillke/SVGedit.js",
            ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/The_Earth_seen_from_Apollo_17.jpg/330px-The_Earth_seen_from_Apollo_17.jpg",
            Price = 20000
        },
        new product
        {
            id = 2,
            Titel = "User:Jdlrobson/MainPage",
            Description = "File uploaded using svgtranslate tool. Added translation for cnr-latn.",
            ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Ruler_image.jpg/330px-Ruler_image.jpg",
            Price = 6666
        },
        new product
        {
            id = 3,
            Titel = "User:Jdlrobson/MainPage/Content/en",
            Description = "File uploaded using svgtranslate tool. Added translation for az-latn.",
            ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006_%28square%29.jpg/330px-Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006_%28square%29.jpg",
            Price = 5325.6M
        }
    };
}